<!doctype html>
<html>
    <head>
    </head>
    <body>
        <div>
            <% if (client) { %>
                <ul>
                <% for (var i=0; i < client.length; i++) { %>
                    <% var tab = client[i] %>
                    <li>
                        <div>
                            Title: <%= tab.title %> <br>
                            URL:  <%= tab.url %> <br>
                            Tab ID: <%= tab.id %> <br>
                            Index: <%= tab.index %> <br>
                            Window: <%= tab.windowId %> <br>
                        </div>
                    </li>
                <% } %>
                </ul>
            <% } else { %>
                Client data not found.
            <% } %>
        </div>
    </body>
</html>
