<!doctype html>
<html>
	<head>
	</head>
	<body>
		This is candle server running on express with socket.io
		<ul>
			<% for (var i=0; i < clients.length; i++) { %>
				<% var client = clients[i] %>
				<li>
					<h3> <%= client['id'] %> </h3>
					<div>
						<a href="/client/<%=client['id']%>">Administrate</a>
					<div>

					<% if (client['active']) { %>
						<div>
						Currently Active Pages:
						<% var activePages = client['active'] %>
						<% for (var j=0; j < activePages.length; j++) { %>
							<% var activePage = activePages[j] %>
							<a href="<%= activePage['url']%>"><%= activePage['title'] %></a>
						<% } %>
						</div>
					<% } %>
				</li>
			<% } %>
		</ul>
	</body>
</html>
