.hidden {
    display: none;
}

.single-tab {
    border: 1px solid black;

    margin: 5px;
    padding: 5px;
}

.window-actions ul, .tab-actions ul {
    display: inline;
    padding-left: 0px;
}

.window-actions ul li, .tab-actions ul li {
    margin-right: 7px;
    display: inline;
}

ul li {
    list-style: none;
}
