.single-client {
    border: 1px solid black;

    margin: 5px;
    padding: 5px;
}

.client-actions ul {
    display: inline;
    padding-left: 0px;
}

.client-actions ul li {
    margin-right: 7px;
    display: inline;
}
