.wrapper {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 70%;
}

input[type="text"] {
    font-size: 20px;
}

.text {
    font-size: 20px;
}

.options-ip {
    width: 300px;
    height: 50px;
}

.options-save {
    margin-left: 5px;
    width: 50px;
    height: 50px;
}
